{% extends "base.html" %}

{% block title %}Welcome to WorNDly!{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    {% load static %}
    <img class="d-block mx-auto mb-4" src="{% static 'ndlogo.png' %}" alt="Notre Dame Logo" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">
        Welcome to WorNDly!
    </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Your favorite game, now in multiple-languages!
        </p>
        <div>
            {% if user.is_authenticated %}
            <form action="/create-game" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">
                Play
            </button>
            <div class="col-lg-2 w-50 mx-auto" style="margin-top: 50px; background-color: #007bff; border-radius: 10px; padding: 20px;">
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="language" value="de" id="flexRadioDefault1">
                  <label class="form-check-label fs-5" for="flexRadioDefault1" style="color: white">
                  German 🇩🇪
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="language"  value="es" id="flexRadioDefault2" checked>
                  <label class="form-check-label fs-5" for="flexRadioDefault2" style="color: white">
                  Spanish 🇪🇸
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="language" value="fr" id="flexRadioDefault1">
                  <label class="form-check-label fs-5" for="flexRadioDefault1" style="color: white">
                  French 🇫🇷
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="language" value="pt" id="flexRadioDefault1">
                  <label class="form-check-label fs-5" for="flexRadioDefault1" style="color: white">
                  Portuguese 🇧🇷
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="language" value="en" id="flexRadioDefault1">
                  <label class="form-check-label fs-5" for="flexRadioDefault1" style="color: white">
                  English 🇺🇸
                  </label>
                </div>
              </div>
            </form>
            {% else %}
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                <a href="/signup" class="nav-link">Sign Up</a>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">
                <a href="/signin" class="nav-link">Sign In</a>
            </button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

