{% extends "base.html" %}

{% block title %}Play WorNDly!{% endblock %}

{% block nav-pills %}
{% if user.is_authenticated %}
    <li class="nav-item">
        <a href="/play" class="nav-link active" aria-current="page">Play</a>
    </li>
    <li class="nav-item">
        <a href="/signout" class="nav-link" aria-current="page">Sign Out</a>
    </li>
{% else %}
    <li class="nav-item">
        <a href="/signup" class="nav-link" aria-current="page">Sign Up</a>
    </li>
    <li class="nav-item">
        <a href="/signin" class="nav-link" aria-current="page">Sign In</a>
    </li>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>Play WorNDly</h1>
<p>Play page</p>
<div class="d-flex justify-content-center align-items-center flex-column gap-2">
    <div id="row0" class="row gap-2">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div id="row1" class="row gap-2">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div id="row2" class="row gap-2">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div id="row3" class="row gap-2">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div id="row4" class="row gap-2">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div id="row5" class="row gap-2">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div class="row gap-2 mt-4">
        <div id="q" class="key">Q</div>
        <div id="w" class="key">W</div>
        <div id="e" class="key">E</div>
        <div id="r" class="key">R</div>
        <div id="t" class="key">T</div>
        <div id="y" class="key">Y</div>
        <div id="u" class="key">U</div>
        <div id="i" class="key">I</div>
        <div id="o" class="key">O</div>
        <div id="p" class="key">P</div>
      </div>
      <div class="row gap-2">
        <div id="a" class="key">A</div>
        <div id="s" class="key">S</div>
        <div id="d" class="key">D</div>
        <div id="f" class="key">F</div>
        <div id="g" class="key">G</div>
        <div id="h" class="key">H</div>
        <div id="j" class="key">J</div>
        <div id="k" class="key">K</div>
        <div id="l" class="key">L</div>
      </div>
      <div class="row gap-2">
        <div id="enter" class="key key-lg">ENTER</div>
        <div id="z" class="key">Z</div>
        <div id="x" class="key">X</div>
        <div id="c" class="key">C</div>
        <div id="v" class="key">V</div>
        <div id="b" class="key">B</div>
        <div id="n" class="key">N</div>
        <div id="m" class="key">M</div>
        <div id="del" class="key key-lg">DEL</div>
      </div>
</div>
{% else %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">
        Sorry, You Must Be Signed In To Play!
    </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Please sign in or create an account!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                <a href="/signin" class="nav-link active">Sign Up</a>
            </button>
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                <a href="/signin" class="nav-link">Sign In</a>
            </button>
        </div>
    </div>
</div>
{% endif %}

<script>
    let current_row_idx = 0;
    let current_row = document.getElementById('row' + current_row_idx)
    console.log(current_row);

    let current_box_idx = 0;

    function get_guess(current_row) {
        let w = '';
        for (let i = 0; i < current_row.children.length; i++) {
            w += current_row.children[i].innerText;
        }
        return w;
    }

    function process_key(char) {
        console.log(char);

        // Game complete
        if (current_row_idx >= 6) {
            return;
        }

        // Row full
        if (current_box_idx >= 5) {
            return;
        }
        
        // Fill box
        current_box = current_row.children[current_box_idx]
        current_box.innerText = char;
        current_box.classList.add('box-active')
        current_box_idx += 1
    }

    function process_enter(char) {
        console.log("SPECIAL - Enter");

        // Game complete
        if (current_row_idx >= 6) {
            return;
        }

        // Row not full
        if (current_box_idx < 5) {
            alert('Not enough letters');
            return;
        }

        let boxes = current_row.children
        let word = get_guess(current_row);
        let correct = true;

        // Color the current row
        fetch('/check-word', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": '{{csrf_token}}'
            },
            body: JSON.stringify({'word': word}),
        }).then(
            res => res.json()
        ).then(
            j => j['result']
        ).then(
            result => {
                for (let i = 0; i < result.length; i++) {
                    if (result[i] == 'C') {
                        boxes[i].classList.add('box-green');
                        document.getElementById(boxes[i].innerText.toLowerCase()).classList.add('key-green');
                    } else if (result[i] == 'G') {
                        boxes[i].classList.add('box-gold');
                        key = document.getElementById(boxes[i].innerText.toLowerCase())
                        if (!key.classList.contains('key-green')) {
                            key.classList.add('key-gold');
                        }
                        correct = false
                    } else {
                        boxes[i].classList.add('box-grey');
                        key = document.getElementById(boxes[i].innerText.toLowerCase())
                        if (!key.classList.contains('key-green') && !key.classList.contains('key-gold')) {
                            key.classList.add('key-grey');
                        }
                        correct = false;
                    }
                }

                current_row_idx += 1;

                if (correct) {
                    let attempts = current_row_idx;
                    current_row_idx = 6;

                    // Delay victory message until animation is complete
                    setTimeout(function() {
                        alert('You Won in ' + (attempts) + (attempts == 1 ? ' attempt!' : ' attempts!'));
                    }, 500);
                } else if (current_row_idx >= 6) {
                    // Delay losing message until animation is complete
                    setTimeout(function() {
                        alert('The word was ' + word)
                    }, 500);
                } else {
                    // Move to next row
                    current_row = document.getElementById('row' + current_row_idx)
                    console.log(current_row);

                    current_box_idx = 0;
                }
            }
        )
    }

    function process_del(char) {
        console.log("SPECIAL - Del " + current_box_idx);

        // Game Complete
        if (current_row_idx >= 6) {
            return;
        }

        // No characters to delete
        if (current_box_idx <= 0) {
            return;
        }

        // Delete
        current_box_idx -= 1
        current_row.children[current_box_idx].innerText = '';
        current_row.children[current_box_idx].classList.remove('box-active')
    }

    // Set up Click listener for keys
    let keys = document.getElementsByClassName('key');
    for (key of keys) {
        let char = key.innerText;
        if (char == 'ENTER' || char == 'DEL') {continue;}
        key.addEventListener('click', () => process_key(char))
    }

    // Set up Click listener for Enter
    let enterKey = document.getElementById('enter');
    enterKey.addEventListener('click', () => process_enter())

    // Set up Click listener for Delete
    let deleteKey = document.getElementById('del');
    deleteKey.addEventListener('click', () => process_del())

    // Set up listeners for the physical keyboard
    document.addEventListener('keypress', (event) => {
        let alphabetic_regex = /^[a-zA-Z]+$/;

        // Enter Key
        if (event.key == 'Enter') {
            process_enter();
        // Alphabetic keys
        } else if (alphabetic_regex.test(event.key)) {
            process_key(event.key.toUpperCase())
        }
    });

    document.addEventListener('keydown', (event) => {
        if (event.key == 'Backspace') {
            process_del();
        }
    })

</script>
{% endblock %}