{% extends "base.html" %}

{% block title %}WordleND - Stats!{% endblock %}

{% block nav-pills %}
<li class="nav-item">
    <a href="/" class="nav-link" aria-current="page">Home</a>
</li>
{% if user.is_authenticated %}
    <li>
        <a href="/stats" class="nav-link active" aria-current="page"> Player Stats </a>
    </li>
    <li class="nav-item">
        <a href="/signout" class="nav-link" aria-current="page">Sign Out</a>
    </li>
    <li class="nav-item" style="display: flex; align-items: center;">
        <img src="static/kratoscoin.png" alt="Kratos Coins" class="bi" width="35" height="35" style="margin-right: 5px;">
        <a href="/purchase" style="margin: 0; text-decoration: none">{{ balance }}₭</a>
    </li>
{% else %}
    <li class="nav-item">
        <a href="/signup" class="nav-link" aria-current="page">Sign Up</a>
    </li>
    <li class="nav-item">
        <a href="/signin" class="nav-link" aria-current="page">Sign In</a>
    </li>
{% endif %}
{% endblock %}

{% block content %}
<h1>Player Dashboard</h1>

<!-- Add filtering options -->
<form method="get">
    <label for="time_period">Filter by time period:</label>
    <select name="time_period" id="time_period">
        <option value="all">All</option>
        <option value="last_week">Last Week</option>
        <option value="last_month">Last Month</option>
        <option value="last_year">Last Year</option>
    </select>
    <button type="submit">Filter</button>
</form>

<!-- Display list of plays -->
<ul>
    {% for play in all_plays %}
        <li>
            Game Date: {{ play.game_date }} | 
            Number of Attempts: {{ play.attempts }}
        </li>
    {% endfor %}
</ul>
<h2>Statistics</h2>
<div class="d-flex justify-content-around">
    <div class="text-center">
        <p style="font-size: 40px; margin-bottom: 0px">{{ total_plays }}</p>
        <p>Played</p>
    </div>
    <div class="text-center">
        <p style="font-size: 40px; margin-bottom: 0px">{{ win_percentage|floatformat:2 }}</p>
        <p>Win %</p>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<h2>Guess Distribution</h2>
<canvas id="attemptsChart" width="400" height="200"></canvas>
{{ attempts_distribution|json_script:"attempts-list" }}
<script>
    // Define variables to store the data passed from Django
    let labels = ['1', '2', '3', '4', '5', '6']
    let data = JSON.parse(document.getElementById('attempts-list').textContent);
    console.log(data)
    var ctx = document.getElementById('attemptsChart').getContext('2d');
    var attemptsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Games',
                data: data,
                backgroundColor: '#787C7E',
                borderColor: '#787C7E',
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true
                },
                xAxes: [{
                    ticks: {
                        precision: 0
                    }
                }]
            },
            legend: {
                display: false
            },
        }
    });
</script>

{% endblock %}